/* styles.css */
@keyframes slideIn {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes slideOut {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}
